.title-categories {
  color: #4f1110;
  font-family: Roboto;
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.4px;
  text-transform: uppercase;
  width: 285.534px;
  height: 38.943px;
  margin-top: 10px;
  margin: 0 auto;
  margin-top: 48px;
}

.sub-title-categories {
  color: #4f1110;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09px;
  text-align: center;
}
.cat-img-category-section {
  width: 566.777px;
  height: 379.112px;
  flex-shrink: 0;
  border-radius: 28px;
  z-index: 1;
}
.section-categories-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 80px;
}

.btn-categories a {
  color: white;
  text-decoration: none;
}
.section-categories-img-cat {
  display: flex;
  flex-direction: column;
}
.section-categories-img-cat button {
  justify-self: center;
  z-index: 2;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border-width: 0px;
  margin-left: 50%;
  background-color: #4f1110;
  color: white;
  cursor: pointer;
  justify-self: flex-end;
  transform: translateX(-50%);
  margin-top: -6%;
}
.section-dog button {
  background-color: #3a421a;
  margin-bottom: 0px;
}
/* media query for tablet devices */
@media (max-width: 960px) {
  .title-categories {
    font-size: 35px;
    text-align: center;
    margin-top: 45px;
    height: auto;
  }

  .sub-title-categories {
    font-size: 20px;
    height: 0px;
  }
  .cat-img-category-section {
    flex-wrap: wrap;
    display: flex;
  }
  .section-categories-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
  }
  .cat-img-category-section {
    width: 300.777px;
    height: 210.112px;
    flex-shrink: 0;
    border-radius: 28px;
  }

  .section-categories-img-cat button {
    justify-self: center;
    z-index: 2;
    width: 60px;
    height: 60px;
    font-size: 9px;
  }
}

/* media query for mobile devices */
@media (max-width: 480px) {
  .title-categories {
    font-size: 17px;
    text-align: center;
    margin-top: 25px;
    height: auto;
  }

  .sub-title-categories {
    font-size: 10px;
    margin-left: auto;
    height: 0px;
  }
  .cat-img-category-section {
    flex-wrap: wrap;
    display: flex;
  }
  .section-categories-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-direction: column;
  }
  .cat-img-category-section {
    width: 250.777px;
    height: 180.112px;
    flex-shrink: 0;
    border-radius: 28px;
  }

  .btn-categories {
    position: absolute;
    margin-left: 29%;
    margin-top: 17%;
    width: 90.016px;
    height: 90.016px;
    border-radius: 70px;
    background-color: #3a421a;
    color: white;
    color: #fff;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.43px;
    border-width: 0px;
    cursor: pointer;
    z-index: 1;
  }
  .btn-categories-dog {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 90.016px;
    height: 90.016px;
  }
  .section-categories-img-cat button {
    font-size: 6px;
    width: 40px;
    height: 40px;
  }
  @media (min-width: 961px) and (max-width: 1250px) {
    .cat-img-category-section {
      width: 350.777px;
      height: 300.112px;
      flex-shrink: 0;
      border-radius: 28px;
    }
    .title-categories {
      font-size: 35px;
      text-align: center;
      margin-top: 25px;
      height: auto;
    }

    .sub-title-categories {
      font-size: 20px;
      margin-left: auto;
      height: 0px;
    }
    .section-categories-img-cat button {
      width: 80px;
      height: 80px;
    }
  }
}
