.subCategories-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-container button {
    transition: all 0.2s ease-in-out;
    width: 80px;
    height: 35px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: bold;
}

.ub {
    display: flex;
    gap: 100px;
}

.button-container button:nth-child(1) {
    background-color: #F6E1D7;
    color: #8b0b0b;
    box-shadow: 0 2px 4px #8b0b0b;
}

.button-container button:nth-child(2) {
    background-color: #8b0b0b;
    color: #F6E1D7;
    box-shadow: 0 2px 4px #8b0b0b;
}

.button-container button:nth-child(1):hover {
    color: #f5f5f5;
    background-color: #8b0b0b;
    box-shadow: 0 7px 12px #8b0b0b;
    cursor: pointer;
}

.button-container button:nth-child(2):hover {
    color: #8b0b0b;
    background-color: #F6E1D7;
    box-shadow: 0 7px 12px #8b0b0b;
    cursor: pointer;
}

.add-Tag {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: rgb(51, 72, 27, 0.1);
    padding: 20px;
    margin-bottom: 2rem;
}

.add-Tag label {
    margin-bottom: 15px;
    width: 100%;
}

.add-Tag input[type='text'] {
    width: 100%;
    padding: 4px;
    border: 1px solid rgb(51, 72, 27, 0.5)
}

.edit-formSubCategory label {
    width: 100%;
}

.subCategoires-tables table {
    width: 80%;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 40%;
}

thead th,
tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.images-admin {
    /* max-width: 150px; */
    transition: transform 0.3s ease-in-out;
    background-color: rgb(139, 11, 11);
    padding: 20px;
}

.add-subcategory-icon-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-admin:hover {
    transform: scale(2);
}

.admin-edit-tag {
    border: 1px solid rgb(51, 72, 27, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.admin-edit-tag ul li input {
    margin-left: 15px;
}



@media (max-width: 490px) {
    table {
        width: 490px;
    }
}

@media (min-width: 491px) and (max-width: 600px) {
    table {
        width: 100%;
    }
}

@media (min-width: 601px) {
    table {
        width: 600px;
    }
}

@media (max-width: 954px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 1rem;
        border-bottom: 2px solid #8b0b0b;

    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

}

icon {
    color: #8b0b0b
}