
.edit-formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top: 10px;
 margin-top: 20px;
 width: 65%;
   background-color: rgb(241, 238, 236);
  }
  
  .edit-formContent label {
    margin-bottom: 10px;
    width: 100%;
margin-left: 40px;
  }
  
  .edit-formContent input {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 3px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #59000D;
    justify-content: center;
    align-items: center;
    
  }
  
  .edit-formContent .button-container {
    display: flex;
    justify-content: space-around;
    margin:20px;
    width: 30%;

  }
  
  .edit-formContent button {
    padding: 5px;
    width: 150px;
    cursor: pointer;
    background-color:#59000D;
    color: white;
    border: none;
    border-radius: 5px;
  }
  

  .edit-formContent button[type="button"] {
    background-color: #F6E1D7;
    color: #59000D;
  }
.button-container{
    display: flex;
    flex-direction: row;
    gap:30px;
}

