.privacypolicycomponent {
    height: 100%;
    width: 85%;
    align-items: center;
    display: flex;
    /* border: solid black 3px; */
    justify-content: center;
    margin: auto;
}
.privacypolicycomp {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.privacypolicycomp h1 {
    text-align: center;
    color: #333;
}

.privacypolicycomp h2 {
    color: #333;
}

.privacypolicycomp p {
    margin-bottom: 5px;
}

ol, ul {
    margin-bottom: 5px;
    margin-top: 5px;
}

li {
    margin-bottom: 5px;
}

.privacyfooter {
    margin-top: 30px;
    text-align: center;
    color: #666;
    /* border: solid red 2px; */
}
.privacylastupdate {
    margin-top: -10px;
    display: flex;
    justify-content: center;
}
strong {
    margin-right: 5px;
}