.privacypolicycomponent {
    height: 100%;
    width: 85%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}
.privacypolicycomp {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.privacypolicycomp h1 {
    text-align: center;
    color: #333;
}
.privacypolicycomp h2 {
    color: #333;
}
.privacypolicycomp p {
    margin-bottom: 5px;
}
.privacypolicycomp ol, ul {
    margin-bottom: 5px;
    margin-top: 5px;
}
.privacypolicycomp li {
    margin-bottom: 5px;
}
.privacypolicycomp .privacyfooter {
    margin-top: 30px;
    text-align: center;
    color: #666;
}
.privacypolicycomp .privacylastupdate {
    margin-top: -10px;
    display: flex;
    justify-content: center;
}
strong {
    margin-right: 5px;
}