.featured-products-section {
  background: url("src/assets/curved-background.png") no-repeat center center;
  color: white;
  text-align: center;
  padding: 20px;
  /* display: flex;
  flex-direction: column; */
  height: 800px;
}

.featured-whole-section-description {
  width: 600px;
  padding-top: 60px;
  padding-left: 100px;
}

.jumping-dog {
  width: 300px;
  float: right;
  margin-left: 20px;
}

.featured-products-heading {
  font-size: 40px;
  width: 100px;
}

.featured-product-description {
  font-size: 18px;
  color: #fff;
  width: 540px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09px;
  text-align: justify;
}

.second-paragraph-description {
  margin-top: 20px;
}
.discover-more-button {
  display: flex;
  align-items: center;
  gap: 17px;
  background-color: #4f1110;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  width: 190px;
  height: 45px;
  margin-bottom: 65px;
  margin-top: 22px;
}
.flipped-paw-icon {
  height: 27px;
  width: 23px;
}



/* media query for screen between tablets and laptops */
@media (min-width: 961px) and (max-width: 1280px) {
  .featured-products-section {
    height: 755px;
  }
  .featured-products-heading {
    font-size: 40px;
    width: 100px;
    padding-top: 50px;
  }
}

@media (min-width: 480px) and (max-width: 961px) {
  .featured-products-section {
    height: 600px;
  }
  .featured-products-heading {
    font-size: 20px;
    width: 100px;
  }

  .featured-whole-section-description {
    width: 600px;
    padding-top: 70px;
    padding-left: 0px;
  }

  .featured-product-description {
    font-size: 16px;
  }
  .discover-more-button {
  
    gap: 17px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
    width: 162px;
    height: 35px;
    margin-bottom: 65px;
    margin-top: 22px;
  }
  .flipped-paw-icon {
    height: 23px;
    width: 19px;
  }
  
}
@media ( max-width:480px) {
  .featured-products-section {
    height: 500px;
    padding-right: 0px;
  }
  .featured-products-heading {
    font-size: 18px;
    width: 0px;
  }

  .featured-whole-section-description {
    padding-top: 110px;
    padding-left: 0px;
  }

  .featured-product-description {
    font-size: 10px;
    width: 300px;
  }
  .discover-more-button {
  
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 7px;
    width: 103px;
    height: 25px;
    margin-bottom: 65px;
    margin-top: 22px;
    padding: 10px;
  }
  .flipped-paw-icon {
    height: 15px;
    width: 12px;
  }
  .jumping-dog {
    width: 135px;
    margin-right: -10px;
    float: right;
    margin-left: 20px;
  }
  .discover-more-button {
    margin-bottom: 0px;
  }

}