.featured-product-in-carousel {
  display: none !important;
}

.featured-products-carousel {
  font-family: Roboto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 20px !important;
  margin-left: 220px !important;
}

.previous-featured-products-carousel-button,
.next-featured-products-carousel-button {
  padding: 0 !important;
  height: 0px !important;
  width: 0px !important;
  background-color: #3a421a !important;
}

.featured-products-carousel-cards {
  display: flex;
  list-style: none;
  padding: 0 !important;
  margin: 0 auto !important;
  gap: 125px !important;
  margin-left: 500px !important;
  margin-right: 370px !important;
}

.featured-product-in-carousel-active {
  background-color: white !important;
  border-radius: 22px !important;
  text-align: center !important;
  opacity: 1 !important;
  transition: opacity 0.3s ease-in-out !important;
  width: 200px !important;
}

.featured-product-image {
  color: #4f1110 !important;
  width: 100% !important;
  height: 180px !important;
}

.featured-product-name {
  font-size: 18px !important;
  margin-bottom: 5px !important;
  color: #4f1110 !important;
  font-weight: bold !important;
}

.featured-product-price {
  font-size: 18px !important;
  color: #4f1110 !important;
}

.next-featured-products-carousel-button {
  border-width: 0px !important;
  background: none !important;
  margin-left: -390px !important;
  z-index: 2 !important;
  margin-top: 116px !important;
}

.previous-featured-products-carousel-button {
  border-width: 0px !important;
  background: none !important;
  margin-right: -450px !important;
  z-index: 2 !important;
  margin-top: 116px !important;
}

.previous-featured-products-carousel-button img {
  width: 65px !important;
  height: 40px !important;
  cursor: pointer !important;
}

.next-featured-products-carousel-button img {
  width: 65px !important;
  height: 40px !important;
  cursor: pointer !important;
}

/* media query for screen between tablets and laptops */
@media (min-width: 961px) and (max-width: 1450px) {
  .featured-products-carousel {
    width: 100% !important;
    margin-left: -20px !important;
    margin-right: 0px !important;
    margin-top: -30px !important;
  }

  .featured-products-carousel-cards {
    display: flex !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 auto !important;
    gap: 40px !important;
    margin-left: 500px !important;
    margin-right: 370px !important;
    height: 270px !important;
  }

  .featured-product-in-carousel-active {
    background-color: white !important;
    border-radius: 22px !important;
    text-align: center !important;
    opacity: 1 !important;
    transition: opacity 0.3s ease-in-out !important;
    height: 230px !important;
    width: 175px !important;
  }

  .featured-product-image {
    height: 152px !important;
  }

  .featured-product-name {
    font-size: 16px !important;
  }
}

@media (min-width: 480px) and (max-width: 961px) {
  .featured-products-carousel {
    width: 100% !important;
    margin-left: -20px !important;
    margin-right: 0px !important;
    height: 900px !important;
    margin-top: -30px !important;
  }

  .featured-products-carousel-cards {
    display: flex !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 auto !important;
    gap: 40px !important;
    margin-left: 500px !important;
    margin-right: 370px !important;
    height: 270px !important;
  }

  .featured-product-in-carousel-active {
    background-color: white !important;
    border-radius: 22px !important;
    text-align: center !important;
    opacity: 1 !important;
    transition: opacity 0.3s ease-in-out !important;
    height: 230px !important;
    width: 155px !important;
  }

  .featured-product-image {
    height: 132px !important;
  }

  .featured-product-name {
    font-size: 14px !important;
  }
}

@media (min-width: 480px) and (max-width: 961px) {
  .featured-product-in-carousel-active {
    background-color: white !important;
    border-radius: 22px !important;
    text-align: center !important;
    opacity: 1 !important;
    transition: opacity 0.3s ease-in-out !important;
    height: 210px !important;
    width: 125px !important;
  }

  .featured-products-carousel-cards {
    gap: 20px !important;
  }

  .next-featured-products-carousel-button {
    margin-top: 95px !important;
  }

  .previous-featured-products-carousel-button {
    margin-top: 95px !important;
  }
}

@media (max-width:480px) {
  .featured-product-in-carousel-active {
    background-color: white !important;
    border-radius: 22px !important;
    text-align: center !important;
    opacity: 1 !important;
    transition: opacity 0.3s ease-in-out !important;
    height: 110px !important;
  }

  .featured-products-carousel {
    margin-left: 0px !important;
  }

  .featured-products-carousel-cards {
    gap: 5px !important;
  }

  .next-featured-products-carousel-button {
    margin-top: 45px !important;
    margin-left: -380px !important;
  }

  .previous-featured-products-carousel-button {
    margin-top: 45px !important;
    margin-left: 0px !important;
  }

  .featured-product-in-carousel-active {
    background-color: white !important;
    border-radius: 15px !important;
    text-align: center !important;
    opacity: 1 !important;
    transition: opacity 0.3s ease-in-out !important;
    height: 130px !important;
    width: 65px !important;
  }

  .previous-featured-products-carousel-button img {
    width: 22px !important;
    height: 20px !important;
    cursor: pointer !important;
    margin-left: -55px !important;
  }

  .next-featured-products-carousel-button img {
    width: 22px !important;
    height: 20px !important;
    cursor: pointer !important;
  }

  .featured-products-carousel-cards {
    margin-left: 422px !important;
    margin-right: 370px !important;
    gap: 20px !important;
  }

  .featured-product-image {
    height: 85px !important;
  }

  .featured-product-name {
    font-size: 8px !important;
  }

  .featured-product-price {
    font-size: 8px !important;
  }
}
