.navpolicies {
    /* border: solid red 2px; */
    background-color: #f6e1d7;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap:80px;
    list-style: none;
<<<<<<< HEAD
    /* margin-top: 20px; */
=======
    margin-top: 20px;
>>>>>>> e70421e (finished privacy-policy, terms&conditions, returnpolicy components)
    /* width: 85%; */
    padding: 15px;
}
.navpolicies li {
    list-style: none;
    cursor: pointer;
}
.navpolicies li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
nav {
    /* border: solid red 2px; */
    margin-top: -10px;
}