.termsandconditionscomponent {
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    /* border: solid yellow 2px; */
    align-items: center;
    justify-content: center;
}
.termsandconditionscomp {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.termsandconditiontitle {
    font-size: 30px;
}
.termslastupdate {
    margin-top: -10px;
    display: flex;
    justify-content: center;
}
.termsfooter {
    margin-top: 30px;
    text-align: center;
    color: #666;
}