.product-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 50px;
align-self: center;
justify-self: center;}

.product-card-wrapper a {
  text-decoration: none;
  color: inherit;
}
.products-h1{
  text-align: center;
  color: white;
  margin-top: 40px;
  background-color: #59000d;
  font-size: 40px;
}
.product-card-container {
  margin: 15px;
  padding: 15px;
  /* box-shadow: 0 0 10px rgba(89, 0, 13, 0.2); */
  border: 1.5px solid rgb(51, 72, 27);
  border-radius: 4px;
 }

.product-card-container img {
  width: 274px;
  height: 274px;
}

.product-card-text {
  border-top: 1.5px solid rgb(51, 72, 27);
  margin-top: 1.5em;
  padding-top: 1em;

}

.product-card-outer-container {
  width: 21rem;
}

.product-card-container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 274px;
  height: 274px;
}

/* Popup */
.product-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-popup {
  background: #fff;
  padding: 0 20px 20px 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 30rem;
  overflow-y: auto; 
  height: 90vh; 
}

.product-card-pop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-pop-wrapper a {
  text-decoration: none;
  color: inherit;
}

.product-card-pop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  border: 1.5px solid rgb(51, 72, 27);
  border-radius: 4px;
  background-color: white;
 }

 .product-card-pop-container .product-card-pop-text {
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  flex-direction: column;
  width: 100%;
 }
 .product-card-pop-text button {
  background-color: #59000d;
  color: #ffff;
  font-weight: bold;
  height: 3rem;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
 }
 .product-card-pop-text button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  transform: scale(1.02);
 }
 .product-card-pop-text p button {
  background-color: rgb(89, 0, 13);
  color: #ffff;
  font-size: large;
  font-weight: bold;
  height: 30px;
  width: 28px;
  margin: 0 6px;
  cursor: pointer;
  border-radius: 10px;
 }

.product-card-pop-container img {
  width: 100%;
}
.product-card-pop-text {
  border-top: 1.5px solid rgb(51, 72, 27);
  margin-top: 1.5em;
  padding-top: 1.5em;
}

.product-card-pop-container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.product-card-popup span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #33481B;
  font-size: xx-large;
  width: 10%;
  margin: auto;
}
.product-card-popup span:hover {
  cursor: pointer;
}